---
http_interactions:
- request:
    method: get
    uri: https://apis.voicebase.com/v3/media/57196d8a-35af-4da0-8113-bc5f227cd4df
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ****Bearer Auth Token Masked*****
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Application-Context:
      - application
      X-Trace-Id:
      - 2E1EA5B0%3AEC9C_0A40E1B3%3A01BB_5D38232F_E5C0B%3A020F
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"self":{"href":"/v3/media/57196d8a-35af-4da0-8113-bc5f227cd4df"},"metadata":{"href":"/v3/media/57196d8a-35af-4da0-8113-bc5f227cd4df/metadata"},"transcript":{"href":"/v3/media/57196d8a-35af-4da0-8113-bc5f227cd4df/transcript"},"text":{"href":"/v3/media/57196d8a-35af-4da0-8113-bc5f227cd4df/transcript/text"},"srt":{"href":"/v3/media/57196d8a-35af-4da0-8113-bc5f227cd4df/transcript/srt"},"dfxp":{"href":"/v3/media/57196d8a-35af-4da0-8113-bc5f227cd4df/transcript/dfxp"},"webvtt":{"href":"/v3/media/57196d8a-35af-4da0-8113-bc5f227cd4df/transcript/webvtt"},"streams":{"href":"/v3/media/57196d8a-35af-4da0-8113-bc5f227cd4df/streams"}},"formatVersion":"3.0.21","mediaId":"57196d8a-35af-4da0-8113-bc5f227cd4df","accountId":"e802c123-4f28-4b04-8a20-11f457722464","accountName":"Fuse
        Universal","status":"finished","dateCreated":"2019-07-17T15:35:00.406Z","dateFinished":"2019-07-17T15:35:51.834Z","metadata":{},"mediaContentType":"video/mp4","length":237122,"knowledge":{"keywords":[{"keyword":"technology
        cost","relevance":0.880797077978,"mentions":[{"speakerName":"unknown","occurrences":[{"s":45670},{"s":54500}]}]},{"keyword":"characteristics","relevance":1.52299795128E-8,"mentions":[{"speakerName":"unknown","occurrences":[{"s":111240},{"s":147490}]}]},{"keyword":"developers","relevance":6.91440010694E-13,"mentions":[{"speakerName":"unknown","occurrences":[{"s":127920},{"s":195923}]}]},{"keyword":"utilities","relevance":9.35762296884E-14,"mentions":[{"speakerName":"unknown","occurrences":[{"s":129010},{"s":158343}]}]},{"keyword":"projects","relevance":3.44247710847E-14,"mention[...]
