---
http_interactions:
- request:
    method: get
    uri: https://apis.voicebase.com/v3/media
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ****Bearer Auth Token Masked*****
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Application-Context:
      - application
      X-Trace-Id:
      - 2E1EA5B0%3AA104_0A40E225%3A01BB_5D38232E_FCB34%3A7A24
      Link:
      - </v3/media>; "self"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"self":{"href":"/v3/media"}},"media":[{"formatVersion":"3.0.21","mediaId":"cf60d533-57c3-4103-a3d7-cee6b7022967","status":"finished","dateCreated":"2019-07-24T09:21:27.336Z","metadata":{}},{"formatVersion":"3.0.21","mediaId":"6f9dd940-6504-4e92-8469-28baaba8a406","status":"finished","dateCreated":"2019-07-24T09:17:52.344Z","metadata":{}},{"formatVersion":"3.0.21","mediaId":"ac399da1-55e9-4242-ac95-364010f282c5","status":"finished","dateCreated":"2019-07-24T09:15:34.598Z","metadata":{}},{"formatVersion":"3.0.21","mediaId":"b07cfe5d-d45e-4d9f-9968-15ae0180e1c0","status":"finished","dateCreated":"2019-07-24T09:12:26.128Z","metadata":{}},{"formatVersion":"3.0.21","mediaId":"93104c[...]
