---
http_interactions:
- request:
    method: get
    uri: https://apis.voicebase.com/v2-beta/media/9b13b949-6b42-4373-9860-323a4898229c/transcripts/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer authToken123
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Application-Context:
      - application
      X-Trace-Id:
      - 4FAD8D82%3AE0E4_0A40E1B3%3A01BB_5CACAB48_135BC%3A6737
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links" : {
            "self" : {
              "href" : "/v2-beta/media/9b13b949-6b42-4373-9860-323a4898229c/transcripts/latest"
            }
          },
          "transcripts" : {
            "latest" : {
              "revision" : "58273712-fad3-4bff-bd3c-ac9e89fe8984",
              "engine" : "premium",
              "confidence" : 0.0,
              "words" : [ {
                "p" : 0,
                "s" : 40,
                "c" : 0.875,
                "e" : 430,
                "w" : "Hello"
              }, {
                "p" : 1,
                "s" : 430,
                "c" : 0.0,
                "e" : 430,
                "w" : ".",
                "m" : "punc"
              } ],
              "name" : "latest"
            }
          }
        }
  recorded_at: Tue, 09 Apr 2019 14:25:12 GMT
recorded_with: VCR 4.0.0
